h1{
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
    text-transform: uppercase;
}
a {
    display: inline-block;
    text-decoration: none;
}
.container{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    font-family: Tahoma, sans-serif;

}
.header__menu{
    background-color: #313030;

}
.header__menu ul,.product__menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
}
.header__menu a{
    padding: 40px 20px 40px 20px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s;
}
.header__menu a:hover{
    background-color: #fd3f40;
}
.header,.product__add,.product__content{
    padding-top: 30px;
}
.org__content,.chapter__content,.manadgement,.Logo{
    display: flex;
}
.org__info,.org__video,.chapter__info,.chapter__divide{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.org,.chapter,.product{
    padding: 50px 0 50px 0;
}
.header,.org{
    background-color: #f5f1f1;
}
.org__info p , .chapter__info p ,.chapter__divide p,.chapter__divide h3 ,
.product__info h1 ,.product__info p,.product__add p,.product__add h1,.color__text{
    color: #6f6d6d;
    max-width: 100%;
}
.org__info a{
    padding: 14px 51px;
    background-color: #fd3f40;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    border-radius: 10px;
    transition: 0.3s;
    box-shadow: 0 0 20px 1px #000009cc;
}
.org__info a:hover{
    background-color: #ff1313;
}
.chapter__info a:hover{
    background-color: #ff1313;
}
.org__video iframe{
    box-shadow: 0 0 20px 1px #000009cc;
    border-radius: 10px;
}
.chapter__info a{
    color: #fb2d2d;
    background-color: #fdfdfd;
    box-sizing: border-box;
    text-align: center;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    padding: 14px 51px;
    font-weight: bold;
    font-size: 12px;
    border-radius: 10px;
    transition: 0.3s;
    box-shadow: 0 0 20px 1px rgba(248, 2, 27, 0.89);
}
.product__info{
text-align: center;
}
.product__menu a{
    padding: 40px 20px 40px 20px;
    color: #6f6d6d;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s;
}
.product__menu a:hover{
   color: red;
}
.product__container{
    display: flex;
    padding: 0 0 24px 0;
}
.product__text{
    font-size: 15px;
    line-height: 21px;
    background: #f4efdc;
    padding: 8.5em;
    margin: 0 16px 0 0;
    text-align: center;
}
.product__add{
    text-align:left ;
}
.containe-waugh{
    margin: 50px 0 0 0;
}
.containe-flex6{
    font-size: 15px;
    background: #f4efdc;
    color: #222;
    line-height: 18px;
    padding: 15.5em;
    margin: 0 16px 0 0;
    text-align: center;
}
.header-menu-list{
    margin: 0;
    display: flex;
    padding: 0;
    list-style: none;
    justify-content:center;
}
.header-menu-list li {
    padding: 30px 30px;
}
.header-menu-list2{
    margin: 0;
    display: flex;
    padding: 0;
    list-style: none;
    justify-content:center;
    text-decoration: auto;
    color: #737373;
}
.containe-flex5{
    display: flex;
}
.color__text4{
    font-size: 15px;
    background: #f4efdc;
    color: #222;
    line-height: 18px;
    padding: 3.5em;
    margin: 0 16px 0 0;
    text-align: center;
}
.main-menu-next{
    display: flex;
}
.containe-waugh a:hover{
    color: red;
}
input,
textarea {
    font:
            0.9em/1.5em "handwriting",
            sans-serif;

    border: none;
    padding: 0 10px;
    margin: 0;
    width: 240px;


}
.form{
    background-color: #f4efdc;
    padding-top: 200px;
    padding-bottom: 100px;
    margin-top: 100px;
}
.container h2,.container h4{
    color: white;
    text-align: center;
}
.border{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button3{
    color: #FFF;
    background-color: #fd2d2d;
    border-color: #fd2d2d;
    width: 16%;
    box-sizing: border-box;
    display: inline-block;
    height: 58px;
    padding: 0 30px;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 5px;
    margin: 0 0 1px 11px;
}
input{
    padding: 19px 30px 19px 34px;

}