h1{
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
    text-transform: uppercase;
}
a {
    display: inline-block;
    text-decoration: none;
}
.container{
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 15px;
    font-family: Tahoma, sans-serif;
}
.header__menu{
    background-color: #313030;
}
.header__menu ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
.header__menu a{
    padding: 40px 20px 40px 20px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s;
}
.header__menu a:hover{
    background-color: #fd3f40;
}
.header,.product__content{
    padding-top: 30px;
}
.org__content,.services__content,.Logo{
    display: flex;
}
.services__content{
    flex-wrap: wrap;
}
.services__content:after{
    content: '';
    display: block;
    height: 2px;
    background-color: #6f6d6d;
    width: 100%;
    margin-top: 100px;
}
.org__info,.org__video{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.services__major,.services__minor{
    width: 50%;
    display: flex;
}
.services__minor{
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: space-between;
}
.services__major{
    gap:50px;
    flex-direction: column;
}
/*свойство flex-wrap: wrap заставляет диспей флэксу увидеть ширину элемента*/
.services__minor-service{
    width: calc(50% - 25px);
    display: flex;
    flex-direction: column;
    gap:10px;
}
.services__minor-service img{
    max-width: 40px;
}
.org,.chapter,.product{
    padding: 50px 0 50px 0;
}
.header,.org{
    background-color: #f5f1f1;
}
.container h2{
    color: white;
    text-align: center;
}
.org__info p , .services__major p ,.services__minor p,.services__minor h3 ,
.product__info h1 ,.product__info p,.block__header,
.services__major h2{
    color: #6f6d6d;
    max-width: 100%;
}
.services__major h2{
    font-size: 37px;
    text-align: revert;
}
.services__major p,.team__description ,.org__info p{
    width: 500px;
}
.org__info a{
    padding: 14px 51px;
    background-color: #fd3f40;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    border-radius: 10px;
    transition: 0.3s;
    box-shadow: 0 0 20px 1px #000009cc;
}
.org__info a:hover{
    background-color: #ff1313;
}
.services__major a:hover{
    background-color: #ff1313;
    color: white;
    box-shadow: 0 0 0 2px #e71111 inset, 0 0 0 4px white inset;
}
.org__video iframe{
    box-shadow: 0 0 20px 1px #000009cc;
    border-radius: 10px;
}
.services__major a{
    color: #fb2d2d;
    background-color: #fdfdfd;
    box-sizing: border-box;
    text-align: center;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 14px 51px;
    font-weight: bold;
    font-size: 12px;
    border-radius: 10px;
    transition: 0.3s;
    box-shadow: 0 0 20px 1px rgba(248, 2, 27, 0.89);
}
.text-center{
text-align: center;
}
.font-bold{
    font-weight: bold;
}
.product__info{
    display: flex;
    flex-direction: column;
    gap:15px;
    margin-bottom: 85px;
}
.product__info:after{
    content: '';
    display: inline-block;
    height: 2px;
    background-color: #e76f69;
    width: 130px;
    margin: 0 auto;
}
.block__header:after{
    content: '';
    display: inline-block;
    height: 2px;
    background-color: #e76f69;
    width: 130px;
}
.feauter__gallary__navigation{
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-bottom: 100px;
    list-style: none;
}
.feauter__gallary__navigation a{
    font-size: 28px;
    color: #6f6d6d;
    text-transform: uppercase;
}
.team__socials li:hover a,
.feauter__gallary__navigation li:hover a{
    color: red;
    transition: 0.3s;
}
.feauter__gallary__content{
    display: flex;
    flex-wrap: wrap;
    gap:20px
}
.feauter__gallary__item{
    width: calc(1160px/4) ;
    height: calc(1160px/4) ;
    background-color: #6f6d6d;
    border: 1px solid black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}
.team,.block__header{
    margin: initial;
}
.block__header{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 85px;
    width: 50%;
}
.team__body{
    display: flex;
    flex-wrap: wrap;
    gap:42px;
}
.team__main{
    width: calc(31% - 75px/2);
    background-color: #679acb;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.team__director{
    font-size: 26px;
}
.team__sub{
    /*width: calc(75% - 75px/2);*/
    /*width: 838px;*/
    display: flex;
    gap: 30px;
    flex-direction: column;
}
.team__socials{
    display: flex;
    gap: 30px;
}
.team__socials a{
    color: rgb(19 20 19);
    font-style: italic;
}
.future__team{
    width: calc(807px /4);
    height: calc(807px /4);
    background-color: #6f6d6d;
    background-repeat: no-repeat;
    background-size: cover;
}
.team__member{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}